<html ng-app="logifierApp">
	<head>	
		<title>Logifier</title>
		<link rel="stylesheet" href="lib/bootstrap.min.css">
		<link rel="stylesheet" href="css/index.css">
		<script src="lib/angular.min.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/logService.js"></script>
		<script src="js/config.js"></script>
	</head>

	<body ng-controller="logsController">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Logifier</a>
				</div>
				<div class="navbar-collapse collapse">
					<form class="navbar-form navbar-right">
						<input ng-model="query" type="text" class="form-control" placeholder="Search">
					</form>
				</div>
			</div>
		</nav>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Message</th>
					<th>Member</th>
					<th>Request</th>
					<th>Response</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="log in logs | filter:query | orderBy:'-DateTime'" ng-class="{'danger': log.HasError}">
					<td>{{log.DateTime | date:"MM/dd/yyyy @ hh:mm:ss"}}</td>
					<td>{{log.MessageName}}</td>
					<td>{{log.MemberNumber}}</td>
					<td>
						<pre>{{log.Request}}</pre>
					</td>
					<td>
						<pre>{{log.Response}}</pre>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>